.issue-header {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.issue-nav {
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.issue-description .example {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 8px 0;
}