
.nav-area {
    background-color: #0066ff;
    margin-bottom: 20px;
}

.nav-area a, .nav-area h1 {
    color: #FFFFFF;
    text-decoration: none;
}


.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar .active .nav-link {
    background-color: #FFFFFF;
    color: #0066ff;
}

.nav-link {
    background-color: transparent;
    border: none;
    color: #FFFFFF;
}

.navbar .navbar-nav .nav-link {
    padding: 10px 40px;
}

.navbar-toggler {
    font-size: 28px;
}

.navbar-toggler {
    color: #FFFFFF;
}

@media (max-width: 991px) {
    .navbar-collapse.show {
        display: block;
    }

    .navbar-collapsing {
        display: block;
    }
}

.navbar-expand-lg {
    margin: 0 -16px;
}
